#navL {
    width:130px;
    height:400px;
    margin-top:60px;
    margin-left:70px;
    padding-top:30px;
    border-radius: 5px;
    background-color:#eeeeee;

    float:left;
    /*padding:1px;*/
}
#navL ul li a{
    color: black;
}

#navR {
    width:130px;
    height:400px;
    margin-top:60px;
    margin-right:70px;
    padding-top:30px;
    border-radius: 5px;
    background-color:#eeeeee;

    float:right;
    /*padding:1px;*/
}
#navR ul li a{
    color: black;
}



